In [1]:
import numpy as npp
import pandas as pd
import pandas.util.testing as tm
#Data spliting
from sklearn.model_selection import train_test_split
#Keras api
from keras.models import Sequential
from keras.layers import Dense
from keras.utils.vis_utils import plot_model

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [2]:
# Importing the data
from google.colab import files
file = files.upload()

Saving data.csv to data (2).csv

In [3]:
#Load the data into the pandas dataframe
df = pd.read_csv('data.csv')
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [4]:
df.shape

(569, 33)

In [5]:
#Data Cleaning
df.isna().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [6]:
#Check the null columns
df[df["Unnamed: 32"].isnull()]

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [7]:
#Drop the null column
df.dropna(axis=1, inplace=True)

In [8]:
df.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [9]:
df.shape

(569, 32)

In [10]:
# Converting the categorical diagnosis column to numerical values because this is our target variable
df["diagnosis"] = npp.where(df["diagnosis"]=='M', 1, 0)

In [11]:
df

           id  diagnosis  ...  symmetry_worst  fractal_dimension_worst
0      842302          1  ...          0.4601                  0.11890
1      842517          1  ...          0.2750                  0.08902
2    84300903          1  ...          0.3613                  0.08758
3    84348301          1  ...          0.6638                  0.17300
4    84358402          1  ...          0.2364                  0.07678
..        ...        ...  ...             ...                      ...
564    926424          1  ...          0.2060                  0.07115
565    926682          1  ...          0.2572                  0.06637
566    926954          1  ...          0.2218                  0.07820
567    927241          1  ...          0.4087                  0.12400
568     92751          0  ...          0.2871                  0.07039

[569 rows x 32 columns]

In [12]:
#Defining input variables X
X = df.iloc[:, 2:]

In [13]:
X.shape

(569, 30)

In [14]:
#Defining the target variables Y
Y = df.iloc[:, 1:2]

In [15]:
Y.shape

(569, 1)

In [16]:
#Splitting data into train and test dataset
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.30, random_state=30)

In [17]:
#Defining ANN Sequencial model for tumar classification
classification_model = Sequential()

In [18]:
classification_model.add(Dense(units=16, activation='relu', input_dim=30))
# Units indicated the output dimenssion of Dense layer
classification_model.add(Dense(units=8, activation='relu'))
classification_model.add(Dense(units=6, activation='relu'))
classification_model.add(Dense(units=1, activation='sigmoid'))

In [19]:
classification_model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
print(classification_model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                496
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 693
Trainable params: 693
Non-trainable params: 0
_________________________________________________________________
None

In [21]:
classification_model.fit(x_train, y_train, batch_size=1, epochs=50)
# batch_size --> it is an integer number that indicated the number of samples per gradient update.
# epochs--> it is generally fine as one pass over the entire dataset.

Epoch 1/50
398/398 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7753
Epoch 2/50
398/398 [==============================] - 1s 1ms/step - loss: 0.3422 - accuracy: 0.8757
Epoch 3/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2864 - accuracy: 0.9034
Epoch 4/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2882 - accuracy: 0.8758
Epoch 5/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2436 - accuracy: 0.9081
Epoch 6/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2115 - accuracy: 0.9251
Epoch 7/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2764 - accuracy: 0.8949
Epoch 8/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2800 - accuracy: 0.9094
Epoch 9/50
398/398 [==============================] - 1s 1ms/step - loss: 0.1918 - accuracy: 0.9202
Epoch 10/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2497 - accuracy: 0.8821
Epoch 11/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2737 - accuracy: 0.8906
Epoch 12/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2485 - accuracy: 0.9245
Epoch 13/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2217 - accuracy: 0.9263
Epoch 14/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2459 - accuracy: 0.9109
Epoch 15/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2423 - accuracy: 0.9128
Epoch 16/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2632 - accuracy: 0.9344
Epoch 17/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2076 - accuracy: 0.9355
Epoch 18/50
398/398 [==============================] - 0s 1ms/step - loss: 0.1680 - accuracy: 0.9312
Epoch 19/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2497 - accuracy: 0.9020
Epoch 20/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2373 - accuracy: 0.9222
Epoch 21/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2270 - accuracy: 0.9106
Epoch 22/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2676 - accuracy: 0.9213
Epoch 23/50
398/398 [==============================] - 0s 1ms/step - loss: 0.3170 - accuracy: 0.8710
Epoch 24/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2050 - accuracy: 0.9522
Epoch 25/50
398/398 [==============================] - 0s 1ms/step - loss: 0.1819 - accuracy: 0.9336
Epoch 26/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2572 - accuracy: 0.9124
Epoch 27/50
398/398 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8898
Epoch 28/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2316 - accuracy: 0.9229
Epoch 29/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2080 - accuracy: 0.9192
Epoch 30/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2699 - accuracy: 0.9056
Epoch 31/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2464 - accuracy: 0.9056
Epoch 32/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2224 - accuracy: 0.9336
Epoch 33/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2302 - accuracy: 0.9181
Epoch 34/50
398/398 [==============================] - 1s 1ms/step - loss: 0.3501 - accuracy: 0.8961
Epoch 35/50
398/398 [==============================] - 0s 1ms/step - loss: 0.4220 - accuracy: 0.9020
Epoch 36/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2538 - accuracy: 0.8988
Epoch 37/50
398/398 [==============================] - 1s 1ms/step - loss: 0.3133 - accuracy: 0.9155
Epoch 38/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2933 - accuracy: 0.9337
Epoch 39/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2376 - accuracy: 0.9178
Epoch 40/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2956 - accuracy: 0.9050
Epoch 41/50
398/398 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8826
Epoch 42/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2318 - accuracy: 0.9191
Epoch 43/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2753 - accuracy: 0.9096
Epoch 44/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2780 - accuracy: 0.9065
Epoch 45/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2173 - accuracy: 0.9327
Epoch 46/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2308 - accuracy: 0.9152
Epoch 47/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2504 - accuracy: 0.9314
Epoch 48/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2292 - accuracy: 0.9391
Epoch 49/50
398/398 [==============================] - 0s 1ms/step - loss: 0.2595 - accuracy: 0.8938
Epoch 50/50
398/398 [==============================] - 1s 1ms/step - loss: 0.2001 - accuracy: 0.9286

In [22]:
# lets quickly check our testing dataset
x_test

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
197        18.08         21.84  ...          0.2369                  0.06558
351        15.75         19.22  ...          0.4245                  0.10500
338        10.05         17.53  ...          0.2894                  0.07664
47         13.17         18.66  ...          0.3900                  0.11790
474        10.88         15.62  ...          0.2581                  0.10800
..           ...           ...  ...             ...                      ...
433        18.82         21.97  ...          0.3007                  0.08314
217        10.20         17.48  ...          0.2868                  0.07809
401        11.93         10.91  ...          0.2460                  0.07262
334        12.30         19.02  ...          0.2554                  0.07207
212        28.11         18.47  ...          0.1648                  0.05525

[171 rows x 30 columns]

In [23]:
# Now lets predict the target variable on test dataset Using our Sequential Model
prediction = classification_model.predict(x_test)
prediction = [1 if y>0.5 else 0 for y in prediction] #list
prediction

[0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1]

In [24]:
len(prediction)

171

In [25]:
type(prediction)

list

In [26]:
type(y_test)

pandas.core.frame.DataFrame

In [27]:
# Converting prediction list to pandas dataFrame
pred = pd.DataFrame(prediction)

In [28]:
type(pred)

pandas.core.frame.DataFrame

In [29]:
# Now converting both pred dataframe and y_test dataframe to numpy ndarray to calculate prediction accuracy

In [30]:
pred = pred.values

In [31]:
y_test_ndarray = y_test.values

In [32]:
# Prediction Accuracy

In [33]:
total = 0
correct = 0 
wrong = 0

for i in range(len(pred)):
  total = total+1
  if (y_test_ndarray[i]==pred[i]):
    correct = correct+1
  else:
    wrong = wrong+1

print('Total = ' + str(total))
print('Correct= ' + str(correct) + ' - Percentage correct: ' + str(round((correct/total)*100, 2))+'%')
print('WRONG= ' + str(wrong) + 'Percantage wrong: ' + str(round((wrong/total)*100, 2)) + '%')

Total = 171
Correct= 156 - Percentage correct: 91.23%
WRONG= 15Percantage wrong: 8.77%

In [34]:
# Testing the model for individual input data
len(x_test)

171

In [35]:

input1 = x_test.iloc[[149]]
input1

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
129        19.79         25.12  ...          0.3305                  0.08465

[1 rows x 30 columns]

In [36]:
# this individual input has 30 attributes and 1 row
input1.shape

(1, 30)

In [37]:
# Predict individual input data
prediction1 = classification_model.predict(input1)
prediction1

array([[1.]], dtype=float32)

In [38]:
prediction1 = ['1' if prediction1>0.5 else '0' for y in prediction1]
prediction1

['1']

In [39]:
#Manually checking prediction accuracy
df.loc[(df['area_mean']==1192.0) & (df['concavity_mean']==0.2545)]

         id  diagnosis  ...  symmetry_worst  fractal_dimension_worst
129  866674          1  ...          0.3305                  0.08465

[1 rows x 32 columns]

In [40]:
#As we can see that our model predict the individual input accuracy.